[user]
	name = Markus Zoppelt
	email = markus@zoppelt.net
	signingkey = 5DB65951
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	quotepath = false
[push]
	default = simple
[commit]
	gpgsign = true
[pull]
	rebase = false
