[submodule ".vim/pack/mz/start/tcomment_vim"]
	path = .vim/pack/mz/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/pack/mz/start/rust.vim"]
	path = .vim/pack/mz/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/pack/mz/start/tabnine-vim"]
	path = .vim/pack/mz/start/tabnine-vim
	url = https://github.com/codota/tabnine-vim.git
[submodule ".vim/pack/mz/start/vim-gnupg"]
	path = .vim/pack/mz/start/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
